.jfx-list-view .scroll-bar:horizontal .increment-arrow,
.jfx-list-view .scroll-bar:horizontal .decrement-arrow,
.jfx-list-view .scroll-bar:horizontal .increment-button,
.jfx-list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.jfx-list-view  .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}